.container {
    background: #f2f2f2;
    padding-top: 10px;
    border: 1px solid #e8e3e3;
}

.flex {
    display: flex;
}

.item {
    margin: 5px;
    font-size: 1.5em;
}

.results {
    margin-left: 7.4rem;
    margin-top: 30px;
}

.box-results {
    margin-bottom: 10px;
}

.box-results a {
    font-size: 1.3rem
}

.box-results small {
    color: green
}

a:link {
    text-decoration: none;
}